%fieldset
  %legend= t('profiles.form.address')
  = f.fields_for(:address) do |fa|
    .form-group
      = fa.label :street_address, class: "control-label"
      %br/
      = fa.text_area :street_address, class: "form-control", rows: 2
    .form-group
      = fa.label :town, class: "control-label"
      %br/
      = fa.text_field :town, class: "form-control"
    .form-group
      = fa.label :province, class: "control-label"
      %br/
      -# = fa.select :province, options_for_select(states_list, address.province), {}, { class: "form-control", placeholder: "Type your state..." }
      = fa.text_field :province, class: "form-control"
    .form-group
      = fa.label :postal_code, class: "control-label"
      %br/
      = fa.text_field :postal_code, class: "form-control"
    .form-group
      = fa.label :country, class: "control-label"
      %br/
      = fa.select :country, options_for_select(full_country_list, (address.country || "AU")), {}, { class: "form-control", placeholder: "Type your country..." }
      
:javascript
  $('#profile_address_attributes_country').select2({theme: "bootstrap"});
