= form_for(@profile, url: profile_path, html: { class: "form", multipart: true }) do |f|
  = render partial: "layouts/errors", locals: { resource: @profile }

  %fieldset
    %legend= title
    %p= description

    .form-group
      = f.label :family_name, class: "control-label"
      = f.text_field :family_name, class: "form-control"

    .form-group
      = f.label :given_name, class: "control-label"
      = f.text_field :given_name, class: "form-control"
      
    .form-group
      = f.label :preferred_name, class: "control-label"
      = f.text_field :preferred_name, class: "form-control"

    .form-group.form-inline
      = f.label :date_of_birth, class: "control-label"
      %br/
      = f.date_select :date_of_birth, { order: [:day, :month, :year], start_year: Date.today.year - 20, end_year: profiles_lower_bound_year }, { class: "form-control" }

    .form-group
      = f.label :phone, class: "control-label"
      = f.telephone_field :phone, class: "form-control"
      
    .form-group
      = f.label :nationality
      = f.select :nationality, options_for_select(country_list, "AU"), {}, { class: "form-control" }

    .form-group
      = f.label :preferred_language, class: "control-label"
      = f.select :preferred_language, options_for_select(languages_list, "en-AU"), {}, { class: "form-control" }
      
    .form-group
      = f.label :visa, class: "control-label"
      = f.select :visa, options_for_select(visas_list, "unknown"), {}, { class: "form-control" }
    
    .form-group
      = f.label :gender
      = f.select :gender, options_for_select(gender_list, "U"), {}, { class: "form-control" }
      
  %fieldset
    %legend Address
    = f.fields_for(:address) do |fa|
      = fa.hidden_field :country, value: "AU"

      .form-group
        = fa.label :street_address, class: "control-label"
        %br/
        = fa.text_area :street_address, class: "form-control", rows: 2
      .form-group
        = fa.label :town, class: "control-label"
        %br/
        = fa.text_field :town, class: "form-control"
      .form-group
        = fa.label :province, class: "control-label"
        %br/
        = fa.select :province, options_for_select(states_list), {}, { class: "form-control" }
      .form-group
        = fa.label :postal_code, class: "control-label"
        %br/
        = fa.text_field :postal_code, class: "form-control"

  .actions.text-right= f.submit t('views.profiles.form.commit'), class: "btn btn-default"
