= form_for(@profile, url: profile_path, html: { class: "form", multipart: true }) do |f|
  = render partial: "layouts/errors", locals: { resource: @profile }

  %fieldset
    %legend= title
    %p= description

    .form-group
      = f.label :family_name, class: "control-label"
      = f.text_field :family_name, class: "form-control"

    .form-group
      = f.label :given_name, class: "control-label"
      = f.text_field :given_name, class: "form-control"
      
    .form-group
      = f.label :preferred_name, class: "control-label"
      = f.text_field :preferred_name, class: "form-control"

    .form-group.form-inline
      = f.label :date_of_birth, class: "control-label"
      %br/
      = f.date_select :date_of_birth, { order: [:day, :month, :year], start_year: upper_bound_birth_year, end_year: lower_bound_birth_year }, { class: "form-control" }

    .form-group
      = f.label :phone, class: "control-label"
      = f.telephone_field :phone, class: "form-control"
      
    .form-group
      = f.label :nationality
      = f.select :nationality, options_for_select(full_country_list, @profile.nationality), {}, { class: "form-control" }

    .form-group
      = f.label :preferred_language, class: "control-label"
      = f.select :preferred_language, options_for_select(languages_list, (@profile.preferred_language || "en-AU")), {}, { class: "form-control" }
      
    .form-group
      = f.label :visa, class: "control-label"
      = f.select :visa, options_for_select(visas_list, (@profile.visa || "unknown")), {}, { class: "form-control" }
    
    .form-group
      = f.label :gender
      = f.select :gender, options_for_select(gender_list, (@profile.gender || "U")), {}, { class: "form-control" }
      
    - if include_address
      = render partial: "profiles/address_fields", locals: { f: f, address: @profile.address }

  .actions.text-right= f.submit t('views.profiles.form.commit'), class: "btn btn-default"
  
:javascript
  $("#profile_nationality").select2({theme: "bootstrap"});
