%h3 
  Personal details
  %small= link_if_unlocked(profile, "(#{t('views.profiles.profile.edit')})", edit_profile_path)

:markdown
  #{markdown_model(profile)}

- if profile.address
  = render partial: "addresses/address", locals: { address: profile.address, title: t('views.users.show.address.heading'), edit: t('views.users.show.address.edit') }
- else
  %h4= t('views.users.show.address.heading')
  %p
    = t('views.users.show.address.missing')
    = link_to t('views.users.show.address.complete'), new_profile_address_path(addressable_type: "Profile", addressable_id: profile.id), class: "btn btn-sm btn-default"
