%h3 
  = t('.title')
  %small= link_to("(#{t('.edit')})", edit_profile_path)

:markdown
  #{markdown_model(profile)}

- if profile.address
  %h4
    = t('users.show.address.heading')
    %small= link_to("(#{t('profiles.profile.address.remove')})", profile_path(profile: { address_id: nil }), method: :put, data: { confirm: "Are you sure?" })

  :markdown
    #{ markdown_model(profile.address) }
- else
  %h4= t('users.show.address.heading')
  %p
    = t('users.show.address.missing')
    = link_to t('users.show.address.complete'), edit_profile_path, class: "btn btn-sm btn-default"
