- if @person
  - if @person.member? # exists and paying
    %h4= t('.ready')
    = form_for(@user.claim, html: { class: "form", multipart: true }) do |f|
      = f.hidden_field :submitted_for_review, value: true  
      .actions
        = f.submit t('.submit'), class: "btn btn-lg btn-default"
        
  - else # exists, but not paying
    %h4= t('.found')
    %p= join_form_link @user, t('.update'), class: "btn btn-lg btn-default"
    
- else # nothing returned from API
  %h4= t('.not_found')
  %p= join_form_link @user, t('.join'), class: "btn btn-lg btn-default"
