<p>
  <strong><%= t('claim.award') %>:</strong> <%= claim.award %><br/>
  <strong><%= t('claim.employment_type') %>:</strong> <%= claim.employment_type %><br/>
  <strong><%= t('claim.total_hours') %>:</strong> <%= number_with_delimiter(claim.total_hours) %><br/>
  <strong><%= t('claim.hourly_pay') %>:</strong> <%= number_to_currency(claim.hourly_pay) %><br/>
  <strong><%= t('claim.lost_wages') %>:</strong> <%= number_to_currency(claim.lost_wages) %><br/>
  <strong><%= t('claim.employment_began_on') %>:</strong> <%= claim.employment_began_on %><br/>
  <strong><%= t('claim.employment_ended_on') %>:</strong> <%= claim.employment_ended_on %>
</p>
<%= link_to "Edit claim details", edit_claim_path(claim) %>

<h3>Employer</h3>
<p>
  <% if claim.employer %>
    <%= render partial: "employers/employer", locals: { employer: claim.employer } %>
  <% else %>
    You haven't told us about your employer yet:
    <%= link_to "Employer details", new_claim_employer_path(claim), class: "btn btn-sm btn-info" %>
  <% end %>
</p>

<h3>Workplace</h3>
<p>
  <% if claim.address %>
    <%= render partial: "addresses/address", locals: { address: claim.address, edit: "Edit workplace address" } %>
  <% else %>
    You haven't provided a workplace address yet:
    <%= link_to "Add a workplace", new_claim_address_path(claim), class: "btn btn-sm btn-info" %>
  <% end %>
</p>
