= form_for(@claim, html: { class: "form", multipart: true }) do |f|
  = render partial: "layouts/errors", locals: { resource: @claim }

  %fieldset
    %legend= t('.title')
    
    = hidden_field_tag 'pay_question', (@skin.pay_question || t('.pay_per_period'))

    - if @skin.awards_blank_or_singleton?
      = f.hidden_field :award_id
    - else
      .form-group
        = f.label :award_id, t('.award'), class: "control-label"
        = f.select :award_id, options_for_select(@skin.awards_for_select, @claim.award), {}, { class: "form-control" }

    - if @skin.pay_periods_blank_or_singleton?
      = f.hidden_field :pay_period
    - else
      .form-group
        = f.label :pay_period, "How often were you paid?", class: "control-label"
        = f.select :pay_period, options_for_select(@skin.pay_periods_for_select, @claim.pay_period), {}, { class: "form-control" }

    - if @skin.time_periods_blank_or_singleton?
      = f.hidden_field :time_period
    - else
      .form-group
        = f.label :time_period, "Time period", class: "control-label"
        = f.select :time_period, options_for_select(@skin.time_periods_for_select, @claim.time_period), {}, { class: "form-control" }

    .form-group
      -# = f.label :hours_per_period, t('.hours_per_period'), class: "control-label"
      = f.label :hours_per_period, "How many hours per #{@claim.time_period} did you work, on average?", class: "control-label"
      /%br/
      .input-group
        .input-group-addon
          %i.glyphicon.glyphicon-time
        = f.number_field :hours_per_period, class: "form-control"

    .checkbox
      = f.label :pieceworker do
        = f.check_box :pieceworker
        = t('.pieceworker')

    .form-group
      -# = f.label :pay_per_period, t('.pay_per_period'), class: "control-label"
      = f.label :pay_per_period, (@skin.pay_question ? @skin.pay_question_label(@claim.pay_period) : t('.pay_per_period', period: @claim.pay_period)), class: "control-label"
      /%br/
      .input-group
        .input-group-addon
          %i.glyphicon.glyphicon-usd
        = f.number_field :pay_per_period, class: "form-control", min: "0", step: "0.01"

    .checkbox
      = f.label :payslips_received do
        = f.check_box :payslips_received
        = t('.payslips_received')

    .form-group.form-inline
      = f.label :employment_began_on, t('.employment_began_on'), class: "control-label"
      %br/
      = f.date_select :employment_began_on, { order: [:day, :month, :year], start_year: Date.today.year, end_year: claims_lower_bound_year }, { class: "form-control" }

    .form-group.form-inline
      = f.label :employment_ended_on, t('.employment_ended_on'), class: "control-label"
      %br/
      = f.date_select :employment_ended_on, { order: [:day, :month, :year], start_year: Date.today.year, end_year: claims_lower_bound_year }, { class: "form-control" }

    .form-group
      = f.label :employment_type, t('.employment_type'), class: "control-label"
      %br/
      = f.select :employment_type, options_for_select(employment_type_list, (@claim.employment_type || "casual")), {}, { class: "form-control" }

  %output#claim_output

  .actions.text-right
    -# = f.button t('.calculate'), class: "btn btn-sm btn-default", id: "claim_calculate"
    = f.submit t('.calculate'), class: "btn btn-sm btn-default", id: "claim_submit"

:coffeescript
  $(document).ready ->
    if $("#claim_pieceworker").prop 'checked'
      $("label[for=claim_hourly_pay]").text("#{t('.pieceworker_hourly_pay')}")
    if $("#claim_award").val() != "horticulture"
      $("label[for=claim_pieceworker]").parent().addClass('collapse')
      $("#claim_pieceworker").prop 'checked', false
    $("label[for=claim_pay_per_period]").text($("#pay_question").val() + " " + $("#claim_pay_period").val() + "?")

  $("#claim_pieceworker").on 'click', (e) ->
    if $(this).prop('checked')
      $("label[for=claim_pay_per_period]").fadeOut(400).queue((n) ->
        $(this).text("#{t('.pieceworker_hourly_pay')}")
        n()
      ).fadeIn(400)
    else
      $("label[for=claim_pay_per_period]").fadeOut(400).queue((n) ->
        $(this).text("#{t('.pay_per_period')}")
        n()
      ).fadeIn(400)

  $("#claim_award").on 'change', (e) ->
    if $(this).val() != "horticulture"
      $("label[for=claim_pieceworker]").parent().slideUp(400)
      $("#claim_pieceworker").prop 'checked', false
    else
      $("label[for=claim_pieceworker]").parent().slideDown(400)
      
  $("#claim_pay_period").on 'change', (e) ->
    $("label[for=claim_pay_per_period]").text($("#pay_question").val() + " " + $(this).val() + "?")
