<%= f.fields_for :claim, Claim.new do |cf| %>
  <fieldset>
    <legend>Tell us about your work</legend>

    <div class="form-group">
      <%= cf.label :award, t('claim.form.award'),
        class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= cf.select :award,
          options_for_select([
              ["Horticulture", "horticulture"],
              ["Poultry Processing", "poultry"]
            ], "horticulture"),
            {}, { class: "form-control" } %>
      </div>
    </div>

    <div class="form-group">
      <%= cf.label :total_hours, t('claim.form.total_hours'),
        class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= cf.number_field :total_hours, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= cf.label :hourly_pay, t('claim.form.hourly_pay'),
        class: "col-sm-3 control-label" %>
      <div class="col-sm-9 input-group" style="padding-left: 1.5rem; padding-right: 1.5rem;">
        <div class="input-group-addon">$</div>
        <%= cf.number_field :hourly_pay, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= cf.label :employment_began_on, t('claim.form.employment_began_on'),
        class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= cf.date_field :employment_began_on, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= cf.label :employment_ended_on, t('claim.form.employment_ended_on'),
        class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= cf.date_field :employment_ended_on, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= cf.label :employment_type, t('claim.form.employment_type'),
        class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= cf.select :employment_type,
          options_for_select([
              ["Casual", "C"],
              ["Permanent", "P"]
            ], "C"),
            {}, { class: "form-control" } %>
      </div>
    </div>
  </fieldset>

  <%= render partial: 'addresses/form', locals: { f: cf, legend: "Where did you work?" } %>
  <%= render partial: 'employers/form', locals: { f: cf } %>
<% end %>
