= form_for(@claim, html: { class: "form", multipart: true }) do |f|
  = render partial: "layouts/errors", locals: { resource: @claim }

  %fieldset
    %legend= t('.title')

    .form-group
      = f.label :award, t('views.claims.form.award'), class: "control-label"
      = f.select :award, options_for_select(awards_list, (@claim.award || "no_award")), {}, { class: "form-control" }

    .form-group
      = f.label :weekly_hours, t('.weekly_hours'), class: "control-label"
      /%br/
      .input-group
        .input-group-addon
          %i.glyphicon.glyphicon-time
        = f.number_field :weekly_hours, class: "form-control"
        
    .checkbox
      = f.label :pieceworker do
        = f.check_box :pieceworker
        = t('.pieceworker')

    .form-group
      = f.label :hourly_pay, t('.hourly_pay'), class: "control-label"
      /%br/
      .input-group
        .input-group-addon
          %i.glyphicon.glyphicon-usd
        = f.number_field :hourly_pay, class: "form-control", min: "0", step: "0.01"
        
    .checkbox
      = f.label :payslips_received do
        = f.check_box :payslips_received
        = t('.payslips_received')

    .form-group.form-inline
      = f.label :employment_began_on, t('.employment_began_on'), class: "control-label"
      %br/
      = f.date_select :employment_began_on, { order: [:day, :month, :year], start_year: Date.today.year, end_year: claims_lower_bound_year }, { class: "form-control" }

    .form-group.form-inline
      = f.label :employment_ended_on, t('.employment_ended_on'), class: "control-label"
      %br/
      = f.date_select :employment_ended_on, { order: [:day, :month, :year], start_year: Date.today.year, end_year: claims_lower_bound_year }, { class: "form-control" }

    .form-group
      = f.label :employment_type, t('.employment_type'), class: "control-label"
      %br/
      = f.select :employment_type, options_for_select(employment_type_list, "casual"), {}, { class: "form-control" }

  %output#claim_output

  .actions.text-right
    -# = f.button t('.calculate'), class: "btn btn-sm btn-default", id: "claim_calculate"
    = f.submit t('.calculate'), class: "btn btn-sm btn-default", id: "claim_submit"
    
:javascript
  $("#claim_pieceworker").on('click', function(e){
    if ($(this).prop('checked')){
      $("label[for=claim_hourly_pay]").fadeOut(400).queue(function(n){
        $(this).text("#{t('.pieceworker_hourly_pay')}"); n();
      }).fadeIn(400);
    } else {
      $("label[for=claim_hourly_pay]").fadeOut(400).queue(function(n){
        $(this).text("#{t('.hourly_pay')}"); n();
      }).fadeIn(400);
    }
  })
  
  $("#claim_award").on('change', function(e){
    if ($(this).val() != "horticulture"){
      $("label[for=claim_pieceworker]").parent().slideUp(400);
      $("#claim_pieceworker").prop('checked', false);
    } else {
      $("label[for=claim_pieceworker]").parent().slideDown(400);
    }
  })
