<table class="table">
<thead>
  <tr>
    <th></th>
    <th>Claimant</th>
    <th>Lost Wages</th>
  </tr>
</thead>
<tbody>
  <% @claims.each do |claim| %>
    <tr>
      <td><%= link_to "View claim", claim_path(claim), class: "btn btn-sm btn-info" %></td>
      <td><%= claim.user.full_name %> <small>&lt;<a href="mailto:<%= claim.user.email %>"><%= claim.user.email %></a>&gt;</small></td>
      <td><%= number_to_currency(claim.lost_wages) %></td>
    </tr>
  <% end %>
</tbody>
</table>
