%h1.text-center= "— Coming Soon —"
%p.text-center{ style: "margin-bottom: 8rem;" }= "If you've previously been invited to this system, you can log in below. Otherwise, stay tuned! We'll be opening our doors soon."

-# %h2= t('devise.sessions.new.sign_in')

= form_for(resource, as: resource_name, url: user_session_path) do |f|
  .form-group
    = f.label :email
    %br/
    .input-group
      .input-group-addon @
      = f.email_field :email, autofocus: true, class: "form-control"

  .form-group
    = f.label :password
    %br/
    .input-group
      .input-group-addon
        %i.glyphicon.glyphicon-lock
      = f.password_field :password, autocomplete: "off", class: "form-control"

  - if devise_mapping.rememberable?
    .checkboxes
      = f.check_box :remember_me
      = f.label :remember_me

  .actions
    = f.submit t('devise.sessions.new.sign_in'), class: "btn btn-sm btn-default"

= render "users/shared/links"
