= form_for([@claim, @claim_company], html: { class: "form", multipart: true }) do |f|
  = render partial: "layouts/errors", locals: { resource: @claim_company }

  %fieldset
    %legend Claim company
    
    .checkbox
      = f.label :is_workplace do
        = f.check_box :is_workplace
        = "This company is my workplace"
    .checkbox
      = f.label :is_employer do
        = f.check_box :is_employer
        = "This company is my employer"
    
    = f.fields_for(:company) do |fc|
      .form-group
        = fc.label :name, t('views.companies.form.name'), class: "control-label"
        %br/
        = fc.text_field :name, class: "form-control"
        
      .form-group
        = fc.label :contact, t('views.companies.form.contact'), class: "control-label"
        %br/
        = fc.text_field :contact, class: "form-control"
        .text-right
          %small= "E.g. your supervisor"

      .form-group
        = fc.label :abn, t('views.companies.form.abn'), class: "control-label"
        %br/
        = fc.text_field :abn, class: "form-control"
        .text-right
          %small
            Not sure? You can try looking it up
            %a{ href: "http://abr.business.gov.au/", target: "_blank" }here
            
      .form-group
        = fc.label :phone, t('views.companies.form.phone'), class: "control-label"
        %br/
        .input-group
          .input-group-addon
            %i.glyphicon.glyphicon-earphone
          = fc.telephone_field :phone, class: "form-control"

      .form-group
        = fc.label :email, t('views.companies.form.email'), class: "control-label"
        %br/
        .input-group
          .input-group-addon @
          = fc.email_field :email, class: "form-control"

  .actions.text-right= f.submit t('views.companies.form.commit'), class: "btn btn-default"
