%h4
  = home_title(company, claim)
  %small
    = surround "(", ")" do
      = link_to("edit", edit_admin_company_path(company))
      = "/"
      = link_to("remove", admin_claim_company_path(claim_company), data: { confirm: "Are you sure?" }, method: :delete)
:markdown
  #{markdown_model(company)}

- if company.address
  %h4
    Address
    %small= link_to("(edit)", edit_admin_address_path(company.address))

  :markdown
    #{ markdown_model(company.address) }
- else
  %h4= t('companies.company.address.heading')
  %p
    = t('companies.company.address.missing')
    = link_to t('companies.company.address.complete'), new_company_company_address_path(company), class: "btn btn-sm btn-default"
