%h3 Send a message to #{ @user.profile.full_name }

= form_for [@user, @message], url: admin_user_messages_path(@user), html: { multipart: true, class: "form" } do |f|
  .form-group
    = f.label :subject, t('message.subject'), class: "control-label"
    = f.text_field :subject, class: "form-control", value: "Your underpayment claim"

  .form-group
    = f.label :body, t('message.body'), class: "control-label"
    = f.text_area :body, class: "form-control", rows: 10, value: "Hello #{@user.profile.given_name},\n\n\n\nRegards,\n\n#{current_user.profile.full_name}\nNational Union of Workers"

  .actions.text-right= f.submit t('message.send'), class: "btn btn-basic"
