= form_for(@user, html: { class: "form", multipart: true }) do |f|
  = render partial: "layouts/errors", locals: { resource: @user }

  %fieldset
    %legend= title
    %p= description

    .form-group
      = f.label :email, t('.email'), class: "control-label"
      .input-group
        .input-group-addon
          %i.glyphicon.glyphicon-envelope
        = f.email_field :email, class: "form-control"

    .form-group
      = f.label :password, t('.password'), class: "control-label"
      .input-group
        .input-group-addon
          %i.glyphicon.glyphicon-lock
        = f.password_field :password, autocomplete: "off", class: "form-control"
        
    = f.hidden_field :group, value: @skin

  .actions.text-right= f.submit t('.commit'), class: "btn btn-sm btn-default"
