<h3>Personal details</h3>
<p>
  <strong>Family name:</strong>
  <%= @user.family_name %><br/>

  <strong>Given name:</strong>
  <%= @user.given_name %><br/>

  <strong>Email:</strong>
  <%= @user.email %><br/>

  <strong>Phone:</strong>
  <%= @user.phone %><br/>

  <strong>Date of birth:</strong>
  <%= @user.date_of_birth %><br/>

  <strong>Preferred language:</strong>
  <%= @user.preferred_language %>
</p>

<p>
  <%= link_to 'Edit personal details', edit_user_path(@user) %>
</p>

<h3>Your address</h3>
<p>
  <% if @user.address %>
    <%= render partial: "addresses/address", locals: { address: @user.address, edit: "Edit your address" } %>
  <% else %>
    You haven't provided your address yet:
    <%= link_to "Add your address", new_user_address_path(@user), class: "btn btn-sm btn-info" %>
  <% end %>
</p>

<h3>Your claim</h3>
<p>
  <% if @user.claim %>
    <%= render partial: "claims/claim", locals: { claim: @user.claim } %>
  <% else %>
    You haven't provided details of your claim yet:
    <%= link_to "Fill in your claim", new_user_claim_path(@user), class: "btn btn-sm btn-info" %>
  <% end %>
</p>
