- unless @user.ready_to_submit?
  %p= t('.introduction')
  %ul
    - t('.requirements').each do |key, req|
      %li
        = req
        - if @user.send(key).present? && @user.send(key).done?
          %span{ style: "color: green" }= t('.requirement_done')
  %p= t('.add')
  
- if @user.ready_to_submit? && !@user.submitted?
  = render partial: "claims/submit_for_review", locals: { claim: @user.claim, user: @user }
  
- if @user.locked?
  %p.bold= t('.locked')

- if @user.profile
  = render partial: "profiles/profile", locals: { profile: @user.profile }
- else
  %h3= t('.profile.heading')
  %p
    = t('.profile.missing')
    = link_to t('.profile.complete'), new_profile_path, class: "btn btn-sm btn-default"

- if @user.claim.present?
  - if @user.claim.valid?
    = render partial: "claims/claim", locals: { claim: @user.claim }
  - else
    %h3= t('.claim.heading')
    %p
      = t('.claim.missing')
      = link_to t('.claim.complete'), edit_claim_path(@user.claim), class: "btn btn-sm btn-default"
- else
  %h3= t('.claim.heading')
  %p
    = t('.claim.missing')
    = link_to t('.claim.complete'), new_claim_path, class: "btn btn-sm btn-default"
    
