%tr
  %td
    = supergroup.name
    %small= "(#{link_to 'website', supergroup.www})".html_safe
  %td= supergroup.short_name
  %td
    .btn-group
      = link_to '', [:admin, supergroup], class: "btn btn-default btn-sm glyphicon glyphicon-eye-open", title: "View"
      = link_to '', edit_admin_supergroup_path(supergroup), class: "btn btn-default btn-sm glyphicon glyphicon-pencil", title: "Edit"
      -# = link_to '', admin_supergroup_path(supergroup), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default btn-sm glyphicon glyphicon-trash", title: "Delete"
