%p
  %b Name:
  = @supergroup.name
%p
  %b Short name:
  = @supergroup.short_name
%p
  %b Website:
  = @supergroup.www

= link_to 'Edit', edit_admin_supergroup_path(@supergroup), class: "btn btn-default btn-sm"
= link_to 'Back', admin_supergroups_path, class: "btn btn-default btn-sm"
