%p= t('pages.estimate.explanation', actual_pay: number_to_currency(@entity.actual_pay), award_pay: number_to_currency(@entity.award_pay))

- if @entity.underpaid?
  %p{ style: "font-size: 2.4rem;" }
    = t('.underpaid')
    %span{ style: "color: #F5003D" }= "#{number_to_currency(@entity.stolen_wages)}!"
    = t('.recover')

  .actions.text-right
    = link_to t('.action'), new_user_path, class: "btn btn-sm btn-default"
- else
  = t('.not_underpaid').html_safe
