%h3= t('.title')
- if documents.empty?
  %p= t('.empty')
- else
  %ul
    - documents.sort_by(&:coverage_midpoint).each do |doc|
      %li
        - if doc.evidence.present? && doc.evidence.is_image?
          = link_to image_tag(doc.evidence.thumb.url), doc
        = succeed ":" do
          = link_to basename(doc), doc
        = doc.coverage_start_date.to_formatted_s(:rfc822) + " – " + doc.coverage_end_date.to_formatted_s(:rfc822)
        - if current_user.owns?(doc) && !doc.locked?
          %small
            (
            = link_to(t('documents.show.edit'), edit_document_path(doc))
            |
            = link_to(t('documents.show.delete'), document_path(doc), data: { confirm: "Are you sure?" }, method: :delete)
            )
