%h3= t('.title')
- if documents.empty?
  %p= t('.empty')
- else
  %ul
    - documents.each do |doc|
      %li
        -# = link_to basename(doc), doc
        = link_to doc do
          - if doc.evidence.present? && doc.evidence.is_image?
            = image_tag(doc.evidence.thumb.url)
          = basename(doc)
        - if current_user.owns?(doc) && !current_user.locked?
          %small
            (
            = link_to(t('documents.show.edit'), edit_document_path(doc))
            |
            = link_to(t('documents.show.delete'), document_path(doc), data: { confirm: "Are you sure?" }, method: :delete)
            )
