= form_for([@claim, @document], html: { multipart: true }) do |f|
  = render partial: "layouts/errors", locals: { resource: @document }

  %fieldset
    %legend= t('views.documents.form.title')

    .form-group
      = f.label :file, t('views.documents.form.file'), class: "control-label"
      = f.file_field :file, style: "color: #BBB", class: "btn btn-default", disabled: params[:affidavit]
    
    .form-group
      = f.label :statement, t('views.documents.form.statement'), class: "control-label"
      %br/
      = f.text_area :statement, rows: 3, class: "form-control"

    .form-group.form-inline
      .checkbox
        = f.label :wage_evidence do
          = f.check_box :wage_evidence, data: { target: "#wages" }
          = t('views.documents.form.wage_evidence')

      .checkbox
        = f.label :time_evidence do
          = f.check_box :time_evidence, data: { target: "#hours" }
          = t('views.documents.form.time_evidence')
        
    .form-group.collapse#wages
      = f.label :wages, t('views.documents.form.wages'), class: "control-label"
      .input-group
        .input-group-addon
          %i.glyphicon.glyphicon-usd
        = f.number_field :wages, class: "form-control", min: "0", step: "0.01"
      
    .form-group.collapse#hours
      = f.label :hours, t('views.documents.form.hours'), class: "control-label"
      .input-group
        .input-group-addon
          %i.glyphicon.glyphicon-time
        = f.number_field :hours, class: "form-control", min: "0", step: "0.01"

    .form-group.form-inline
      = f.label :coverage_start_date, t('views.documents.form.coverage_start_date'), class: "control-label"
      %br/
      = f.date_select :coverage_start_date, { selected: @document.coverage_start_date || date_from_params(:coverage_start_date), order: [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year - 7 }, { class: "form-control" }

    .form-group.form-inline
      = f.label :coverage_end_date, t('views.documents.form.coverage_end_date'), class: "control-label"
      %br/
      = f.date_select :coverage_end_date, { selected: @document.coverage_end_date || date_from_params(:coverage_end_date), order: [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year - 7 }, { class: "form-control" }

  .actions.text-right= f.submit t('views.documents.form.commit'), class: "btn btn-sm btn-default"
  
:javascript
  function boxChecked(box){
    if (box.is(":checked")){
      $(box.data().target).slideDown();
    } else {
      $(box.data().target).slideUp();
    }
  }

  $("input[type=checkbox]").on("click", function(e){
    var box = $(e.target);
    boxChecked(box);
  })
  
  $(document).ready(function(){
    $("input[type=checkbox]").each(function(index){
      var box = $(this);
      boxChecked(box);
    })
  })
