%h3= basename(@document)

%p= t('.duration', beginning: date_to_time_tag(@document.coverage_start_date), end: date_to_time_tag(@document.coverage_end_date)).html_safe

%p 
  - if @document.wage_evidence
    = t('.wages', wages: number_to_currency(@document.wages))
  %br/
  - if @document.time_evidence
    = t('.hours', hours: number_with_delimiter(@document.hours))

- if @document.evidence.present?
  %p= t('.evidence')
  %p= link_to image_tag(@document.evidence.standard.url), @document.evidence.url, target: "_blank"
  
- if @document.statement.present?
  %p= t('.statement')
  %blockquote= html_escape(@document.statement).gsub("\r\n", "<br/>").html_safe

%p
  - unless @document.locked?
    = link_to t('views.documents.show.delete'), document_path(@document), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default"
    = link_to t('views.documents.show.edit'), edit_document_path(@document), class: "btn btn-default"
  = link_to t('views.documents.show.back'), @document.claim, class: "btn btn-default"
  
