%fieldset
  %legend.h3= "Preview"
  .container-fluid#preview-container{ style: "border: dashed hotpink 5px; padding: 5px; margin-bottom: 10px;"}
    %header
      %nav.navbar.navbar-default#preview-nav
        .container-fluid
          %ul.nav.navbar-nav
            %li
              %p.navbar-text
                = "Signed in as "
                = link_to "Guest", "#", class: "navbar-link"
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to "Sign out", "#", class: "navbar-link"
    #preview-main{ style: "display: block; margin: 0 auto; padding: 1rem;"}
      .align-right
        %hgroup
          %h1.preview-heading{ style: "margin-top: 0px" } MAIN HEADING
          %h5.preview-heading.byline Subheading/byline
      -# %p.text-center.text-danger
      -#   %em An error has occurred!
      %p 
        :markdown
          #{ @preview["intro"] }
        %a{ href: "#" } example hyperlink.
      %form{ action: "#" }
        .form-group
          %label A form text field
          %input.form-control{ type: "text" }
      .align-right
        .btn.btn-default A button
      
  :scss
    @mixin bg-border($color) {
      background-color: $color;
      border-color: $color;
    }
    @mixin button-colors($bg, $text, $active) {
      color: $text;
      @include bg-border($bg);
      &:hover, &:active:hover,
      &:active, &:active:focus { @include bg-border($active); }
    }
    @mixin text-hover($passive, $active) {
      color: $passive;
      &:hover { color: $active; }
    }
    @mixin nav($bg, $text, $active) {
      @include bg-border($bg);
      .navbar-text { color: $text; }
      .navbar-link { color: $text; }
      .navbar-link:hover { color: $active; }
    }
    
    $brand-primary: #{ @preview["links"] };
    $active-primary: darken($brand-primary, 15%);
    $btn-bg-color: #{ @preview["btn_bg"] };
    $btn-active: darken($btn-bg-color, 10%);
    $btn-text-color: #{ @preview["btn_text"] };
    $nav-bg: #{ @preview["nav_bg"] };
    $nav-text: #{ @preview["nav_text"] };
    $headings-color: #{ @preview["headings"] };
    $background-color: #{ @preview["body_bg"] };
    $text-color: #{ @preview["body_text"] };
    $text-color-inverse: invert($text-color);
    $active-nav: darken($nav-text, 15%);

    #preview-container { color: $text-color; }
    #preview-main { background-color: $background-color; }
    #preview-container h1,
    #preview-container h2,
    #preview-container h3,
    #preview-container h4,
    #preview-container h5,
    #preview-container h6 { color: $headings-color; }
    #preview-nav { @include nav($nav-bg, $nav-text, $active-nav); }
    #preview-container a { @include text-hover($brand-primary, $active-primary); }
    #preview-container .btn-default { @include button-colors($btn-bg-color, $btn-text-color, $btn-active) }
