%h3 
  Company
  = home_title(company, claim)
  %small= link_if_unlocked(company, "(#{t('views.companies.company.edit')})", edit_company_path(company))
:markdown
  #{markdown_model(company)}

- if company.address
  = render partial: "addresses/address", locals: { address: company.address, title: t('views.companies.company.address.heading'), edit: t('views.companies.company.address.edit') }
- else
  %h3= t('views.companies.company.address.heading')
  %p
    = t('views.companies.company.address.missing')
    = link_to t('views.companies.company.address.complete'), new_company_address_path(company), class: "btn btn-sm btn-default"
