= form_for([@claim, @company], html: { class: "form", multipart: true }) do |f|
  = render partial: "layouts/errors", locals: { resource: @company }

  %fieldset
    %legend= title
    
    = f.fields_for(:claim_company) do |fcc|
      .checkbox
        = fcc.label :is_workplace do
          = fcc.check_box :is_workplace
          = t('.is_workplace')

      .checkbox
        = fcc.label :is_employer do
          = fcc.check_box :is_employer
          = t('.is_employer')

    .form-group
      = f.label :name, class: "control-label"
      %br/
      = f.text_field :name, class: "form-control"
      
    .form-group
      = f.label :contact, class: "control-label"
      %br/
      = f.text_field :contact, class: "form-control"

    .form-group
      = f.label :abn, class: "control-label"
      %br/
      = f.text_field :abn, class: "form-control"

    .form-group
      = f.label :phone, class: "control-label"
      %br/
      = f.telephone_field :phone, class: "form-control"

    .form-group
      = f.label :email, class: "control-label"
      %br/
      = f.email_field :email, class: "form-control"

  .actions.text-right= f.submit t('.commit'), class: "btn btn-default"
