<p>
  <strong><%= t('employer.name') %>:</strong> <%= employer.name %><br/>
  <strong><%= t('employer.abn') %>:</strong> <%= employer.abn %><br/>
  <strong><%= t('employer.phone') %>:</strong> <%= employer.phone %><br/>
  <strong><%= t('employer.email') %>:</strong> <%= employer.email %>
</p>
