%h3 
  Employer
  %small= link_if_unlocked(employer, "(#{t('views.employers.employer.edit')})", edit_employer_path(employer))
:markdown
  #{markdown_model(employer)}

- if employer.address
  = render partial: "addresses/address", locals: { address: employer.address, title: t('views.employers.employer.address.heading'), edit: t('views.employers.employer.address.edit') }
- else
  %h3= t('views.employers.employer.address.heading')
  %p
    = t('views.employers.employer.address.missing')
    = link_to t('views.employers.employer.address.complete'), new_employer_address_path(employer), class: "btn btn-sm btn-default"
