%h2= t('devise.invitations.edit.header')

= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { :method => :put, class: "form" } do |f|
  = devise_error_messages!
  = f.hidden_field :invitation_token

  .form-group
    = f.label :password, class: "control-label"
    = f.password_field :password, class: "form-control"
  
  .actions.text-right
    = f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-sm btn-default"
