<p>
  <strong><%= t('address.street_address') %>:</strong> <%= address.street_address %><br/>
  <strong><%= t('address.secondary_street_address') %>:</strong> <%= address.secondary_street_address %><br/>
  <strong><%= t('address.town') %>:</strong> <%= address.town %><br/>
  <strong><%= t('address.province') %>:</strong> <%= address.province %><br/>
  <strong><%= t('address.postal_code') %>:</strong> <%= address.postal_code %><br/>
  <strong><%= t('address.country') %>:</strong> <%= address.country %>
</p>
