%h3 Compose a letter of demand

= form_for [:admin, @claim, @letter], html: { multipart: true, class: "form" } do |f|
  .form-group
    = f.label :sent_on, "Date sent", class: "control-label"
    = f.date_select :sent_on, { order: [:day, :month, :year], start_year: Date.today.year - 5, end_year: Date.today.year }, { class: "do-not-stack form-control" }
  
  .form-group
    = f.label :addressee, "Addressee", class: "control-label"
    = f.select :addressee, options_for_select(addressee_list(@claim), @letter.addressee), {}, { class: "form-control" }
    
  .form-group
    = f.label :address_id, "Address", class: "control-label"
    = f.select :address_id, options_for_select(address_list(@claim), @letter.address_id), {}, { class: "form-control" }
    
  .form-group
    = f.label :contact_inbox, "Email contact (e.g. assist@nuw.org.au)", class: "control-label"
    = f.email_field :contact_inbox, class: "form-control"

  .form-group
    = f.label :signature, "Signature", class: "control-label"
    = f.select :signature, options_for_select(signature_list, @letter.signature), {}, { class: "form-control" }

  .actions.text-right
    = button_tag "", type: "submit", class: "btn btn-default glyphicon glyphicon-save"
  %p &nbsp;
