:css
  @page {
    size: auto;
    margin-top: 40mm;
  }
  body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12pt;
  }

%p= Date.today.strftime("%e %B %Y")
%address
  :markdown
    #{ markdown_postal_format(@letter.addressee, @address.address) }

:markdown
  Dear #{ @letter.addressee },

  We write on behalf of National Union of Workers (**the NUW**) member #{ @user.proper_full_name }, who formerly worked at #{ @claim.employer.name }#{ @claim.employer != @claim.workplace ? ", as a " + @claim.employment_type.downcase + " employee at " + @claim.workplace.name : "" }.

  #{ @user.proper_full_name } has advised us that during their employment with #{ @claim.employer.name }, they were paid a flat rate of #{ number_to_currency(@claim.hourly_pay) } per hour.

  #{ @user.proper_full_name }'s employment was covered by the _#{ @claim.award_name }_ (**the Award**). This provides for a person engaged in Award duties to be paid a minimum of #{ number_to_currency(@claim.award_minimum({ employment_type: "permanent" })) } plus a loading of 25% for casual employees. This means that #{ @user.proper_full_name } should have been entitled to a minimum hourly rate of #{ number_to_currency(@claim.award_minimum) }. This is a clear breach of s. 45 of the _Fair Work Act 2009_ (Cth).

  The NUW has reviewed evidence provided by #{ @user.proper_full_name }, and estimates that during their employment at #{ @claim.employer.name }, #{ @user.proper_full_name } was underpaid #{ number_to_currency(@claim.lost_wages) } on their base rate of pay.

  The NUW, on behalf of #{ @user.proper_full_name }, demands that #{ @claim.employer.name } pay the abovementioned base rate amount and any additional monies owed in overtime and penalties to #{ @user.proper_full_name }. If this payment is not made within 7 days of receipt of this letter, the NUW will, without further notice, commence proceedings in the Federal Circuit Court in order to recover the amount owed.
  
  To discuss this letter further, please email the NUW at #{ @letter.contact_inbox }.

  <br>Kind regards
  <br>#{ @letter.signature }
