<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group form-inline">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
    <%= f.submit "Send me password reset instructions", class: "btn btn-basic" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
