%h5
  = "#{note.author.full_name || note.author.email} updated this claim at #{note.created_at.strftime("%T on %a, %d %b %Y")}:"
:markdown
  **Stage:** #{note.summary}
  
  **Explanation:** #{note.explanation}
%hr
