%tr
  %td= group.name
  %td= link_to group.slug, admin_groups_path(skin: group)
  %td
    .btn-group
      = link_to '', admin_group_path(group), class: "btn btn-default btn-sm glyphicon glyphicon-eye-open", title: "View"
      = link_to '', edit_admin_group_path(group), class: "btn btn-default btn-sm glyphicon glyphicon-pencil", title: "Edit"
      = link_to '', admin_group_path(group), method: :delete, data: { :confirm => 'Are you sure?' }, class: "btn btn-default btn-sm glyphicon glyphicon-trash", title: "Delete"
