%p
  %strong Owner organisation:
  = @group.owner_name
%p
  %strong Campaign name:
  = @group.name
%p
  %strong Slug:
  = @group.slug
%p
  %strong Time periods:
  %ul
    - if @group.time_periods.blank?
      None set! Please
      = link_to "edit this campaign", edit_admin_group_path(@group)
      to add at least one time period.
    - else
      - @group.time_periods.each do |period|
        %li= period
  %strong Pay periods:
  %ul
    - if @group.pay_periods.blank?
      None set! Please
      = link_to "edit this campaign", edit_admin_group_path(@group)
      to add at least one pay period.
    - else
      - @group.pay_periods.each do |period|
        %li= period
%p
  %strong Awards:
  %ul
    - if @group.awards.blank?
      None set! Please
      = link_to "edit this campaign", edit_admin_group_path(@group)
      to add at least one award.
    - else
      - @group.awards.each do |award_slug, desc|
        %li= "#{award_slug}: #{desc}"
%p
  %strong Logo
%p= @group.logo? ? image_tag(@group.logo) : "None provided"
%p
  %strong Skin:
  %ul
    %li= "Primary colour: #{@group.link_color}"
    %li= "Secondary colour: #{@group.headings_color}"
    %li= "Base text colour: #{@group.body_text_color}"
    %li= "Background colour: #{@group.body_bg_color}"
    %li= "Button background: #{@group.btn_bg_color}"
    %li= "Button text: #{@group.btn_text_color}"
    %li= "Nav background: #{@group.nav_bg_color}"
    %li= "Nav text: #{@group.nav_text_color}"
%p
  %strong Intro text:
  %blockquote
    :markdown
      #{ @group.intro.blank? ? "None set, will fall back to default" : @group.intro }

.actions.align-right
  .btn-group
    = link_to "", admin_groups_path, class: "btn btn-default glyphicon glyphicon-arrow-left", title: "Back to campaign index"
    = link_to "", edit_admin_group_path(@group), class: "btn btn-default glyphicon glyphicon-pencil", title: "Edit this campaign"
