%tr
  %td.sections-complete
    -# "#{[user.profile, user.claim, user.employer, user.workplace].compact.size}"
    %ul
      = "<li>Profile</li>".html_safe if user.profile
      - if user.claim
        = "<li>Claim</li>".html_safe
        %ul
          = "<li>#{user.claim.documents.size} documents</li>".html_safe
          = "<li>Employer</li>".html_safe if user.claim.employer
          = "<li>Workplace</li>".html_safe if user.claim.workplace
  %td= user.email
  %td= user.profile_phone
  %td 
    - if user.profile.present?
      = link_to '', admin_user_path(user), class: "btn btn-sm btn-default glyphicon glyphicon-eye-open pull-right"
