%h1 Claims for review
.align-right
  %select.form-control#user-selector
    %option{ value: "submitted" } Submitted claims
    %option{ value: "completed" } Completed claims
    %option{ value: "incomplete" } Incomplete claims

= link_to "Submitted", url_for(params.merge(scope: "submitted")), class: "collapse", id: "submitted"
= link_to "Completed", url_for(params.merge(scope: "completed")), class: "collapse", id: "completed"
= link_to "Incomplete", url_for(params.merge(scope: "incomplete")), class: "collapse", id: "incomplete"

= render "admin/users/#{@view_context}_table"#, locals: { users: @users, view_context: @view_context }

:coffeescript
  $(document).ready ->
    $("#user-selector").val("#{(params[:scope] || 'submitted')}")
  $("#user-selector").on "change", (e) ->
    $("#" + $(e.target).val())[0].click();
