= link_to "Back to listing", admin_users_path, class: "btn btn-default"
&ensp;
= link_to "Send a message", new_admin_user_message_path(@user), class: "btn btn-default"
&ensp;
= link_to "Letter of demand", new_admin_user_letter_path(@user), class: "btn btn-default"
-# = link_to "Letter of demand", pages_path(page: "letter", layout: "print", user_id: @user), class: "btn btn-default"
&ensp;
= render partial: "admin/claims/toggle_lock", locals: { claim: @user.claim }

= render partial: "admin/claims/update_status", locals: { claim: @user.claim }

%h3 User details
:markdown
  #{ markdown_model(@user) }  
  #{ markdown_model(@user.profile) }

- if @user.address
  = render partial: "addresses/address", locals: { address: @user.address, title: "User address", edit: "" }

- if @user.claim
  %h3 Claim
  :markdown
    #{ markdown_model(@user.claim) }

  = render partial: "documents/documents", locals: { documents: @user.claim.documents }

- if @user.claim.presentable_companies.any?
  - @user.claim.presentable_companies.each do |cc|
    = render partial: "claim_companies/company", locals: { claim_company: cc, company: cc.company, claim: cc.claim } 
