%tr
  %td
    %code= claim_stage.system_name
  %td= claim_stage.display_name
  %td= claim_stage.notification_text
  %td= link_to "", edit_admin_claim_stage_path(claim_stage), class: "glyphicon glyphicon-pencil btn btn-sm btn-default", title: "Edit"
  %td= link_to "", admin_claim_stage_path(claim_stage), data: { confirm: "Are you sure?" }, method: :delete, class: "glyphicon glyphicon-trash btn btn-sm btn-default", title: "Delete"
