:markdown
  #### stage `#{claim_stage.system_name}`

  **Display name:** #{claim_stage.display_name}

  **Notification template**: #{claim_stage.notification_text}
.actions.align-right
  = link_to "", edit_admin_claim_stage_path(claim_stage), class: "glyphicon glyphicon-pencil btn btn-sm btn-default"
  = link_to "", admin_claim_stage_path(claim_stage), data: { confirm: "Are you sure?" }, method: :delete, class: "glyphicon glyphicon-trash btn btn-sm btn-default"
