= form_for @feedback, url: feedback_path, method: "post", class: "form" do |f|
  = render partial: "layouts/errors", locals: { resource: @feedback }

  .form-group
    - if @feedback.sender.present?
      :markdown 
        Signed in as __#{@feedback.sender}__ - any replies will be directed to this address
      = f.hidden_field :sender
    - else
      = f.label :sender, "Your email address", class: "control-label"
      = f.email_field :sender, class: "form-control"

  .form-group
    = f.label :body, "Your message", class: "control-label"
    = f.text_area :body, class: "form-control"

  .form-group.actions.align-right
    = f.submit "Send feedback", class: "btn btn-sm btn-default"
