- if claim.user
  %tr
    %td= claim.status || "None"
    %td= claim.user.full_name
    %td{ class: "hidden-xs" }= claim.employer_name || "&mdash;".html_safe
    %td{ class: "hidden-xs" }= claim.award_name
    %td{ class: "hidden-xs" }= number_to_currency(claim.hourly_pay)
    %td{ class: "hidden-xs" }= claim.hours_worked && claim.hours_worked.round
    %td{ class: "hidden-xs" }= number_to_currency(claim.lost_wages)
    %td= link_to '', [:admin, claim], class: "btn btn-sm btn-default glyphicon glyphicon-eye-open pull-right"
