= form_for(@claim, url: admin_claim_path(@claim), html: { class: "form", multipart: true }) do |f|
  = render partial: "layouts/errors", locals: { resource: @claim }

  %fieldset
    %legend= t('claims.form.title')
    = f.hidden_field :pay_period
    = f.hidden_field :time_period

    .form-group
      = f.label :award_id, t('claims.form.award'), class: "control-label"
      = f.select :award_id, options_for_select(@claim.user.group.awards_for_select, @claim.award_id), {}, { class: "form-control" }

    .form-group
      = f.label :hours_per_period, t('claims.form.hours_per_period', period: @claim.time_period), class: "control-label"
      /%br/
      .input-group
        .input-group-addon
          %i.glyphicon.glyphicon-time
        = f.number_field :hours_per_period, class: "form-control"

    .checkbox
      = f.label :pieceworker do
        = f.check_box :pieceworker
        = t('claims.form.pieceworker')

    .form-group
      = f.label :pay_per_period, (@skin.pay_question_label(@claim.pay_period)), class: "control-label",
        data: { hour: @skin.pay_question_label('hour'), day: @skin.pay_question_label('day'),
                week: @skin.pay_question_label('week'), fortnight: @skin.pay_question_label('fortnight'),
                month: @skin.pay_question_label('month') }
      /%br/
      .input-group
        .input-group-addon
          %i.glyphicon.glyphicon-usd
        = f.number_field :pay_per_period, class: "form-control", min: "0", step: "0.01"

    .checkbox
      = f.label :payslips_received do
        = f.check_box :payslips_received
        = t('claims.form.payslips_received')

    .form-group.form-inline
      = f.label :employment_began_on, t('claims.form.employment_began_on'), class: "control-label"
      %br/
      = f.date_select :employment_began_on, { order: [:day, :month, :year], start_year: Date.today.year, end_year: claims_lower_bound_year }, { class: "form-control" }

    .form-group.form-inline
      = f.label :employment_ended_on, t('claims.form.employment_ended_on'), class: "control-label"
      %br/
      = f.date_select :employment_ended_on, { order: [:day, :month, :year], start_year: Date.today.year, end_year: claims_lower_bound_year }, { class: "form-control" }

    .form-group
      = f.label :employment_type, t('claims.form.employment_type'), class: "control-label"
      %br/
      = f.select :employment_type, options_for_select(employment_type_list, @claim.employment_type), {}, { class: "form-control" }

  %output#claim_output

  .actions.text-right
    = f.submit "Update", class: "btn btn-sm btn-default", id: "claim_submit"

:coffeescript
  $(document).ready ->
    if $("#claim_pieceworker").prop 'checked'
      $("label[for=claim_hourly_pay]").text("#{t('claims.form.pieceworker_hourly_pay')}")
    if $("#claim_award").val() != "horticulture"
      $("label[for=claim_pieceworker]").parent().addClass('collapse')
      $("#claim_pieceworker").prop 'checked', false
    pay_label = $("label[for=claim_pay_per_period]")
    pay_label.text(pay_label.data($("#claim_pay_period").val()))

  $("#claim_pieceworker").on 'click', (e) ->
    if $(this).prop('checked')
      $("label[for=claim_hourly_pay]").fadeOut(400).queue((n) ->
        $(this).text("#{t('claims.form.pieceworker_hourly_pay')}")
        n()
      ).fadeIn(400)
    else
      $("label[for=claim_hourly_pay]").fadeOut(400).queue((n) ->
        $(this).text("#{t('claims.form.pay_per_period')}")
        n()
      ).fadeIn(400)

  $("#claim_award").on 'change', (e) ->
    if $(this).val() != "horticulture"
      $("label[for=claim_pieceworker]").parent().slideUp(400)
      $("#claim_pieceworker").prop 'checked', false
    else
      $("label[for=claim_pieceworker]").parent().slideDown(400)

  $("#claim_pay_period").on 'change', (e) ->
    pay_label = $("label[for=claim_pay_per_period]")
    pay_label.text(pay_label.data($(this).val()))
