.flex.flex-row-reverse.flex-center.flex-justify
  .flex-order-1
    .visible-xs
      .btn-group
        %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } }
          %span.glyphicon.glyphicon-tasks
        %ul.dropdown-menu.dropdown-menu-right
          %li= link_to "Send a message", new_admin_claim_message_path(@claim)
          %li= link_to "Letter of demand", new_admin_claim_letter_path(@claim)
          %li= render partial: "admin/claims/toggle_lock", locals: { link_class: "" }
          %li= link_to "#{pluralize(@claim.messages.size, 'message')}", admin_claim_messages_path(@claim)
          %li= link_to pluralize(@claim.notes.size, 'note'), admin_claim_notes_path(@claim)
      
  .btn-group.hidden-xs
    = link_to "Send a message", new_admin_claim_message_path(@claim), class: "btn btn-default btn-sm"
    = link_to "Letter of demand", new_admin_claim_letter_path(@claim), class: "btn btn-default btn-sm"
    = render partial: "admin/claims/toggle_lock", locals: { link_class: "btn btn-default btn-sm" }
    = link_to "#{pluralize(@claim.messages.size, 'message')}", admin_claim_messages_path(@claim), class: "btn btn-default btn-sm"
    = link_to pluralize(@claim.notes.size, 'note'), admin_claim_notes_path(@claim), class: "btn btn-default btn-sm"

= render "update_status"
= render "assign_point_person"

%h3
  User details
  - if @claim.user.profile.present?
    %small= link_to("(edit)", edit_admin_profile_path(@claim.user.profile))
:markdown
  #{ markdown_model(@claim.user) } 
- if @claim.user.profile.present?
  :markdown
    #{ markdown_model(@claim.user.profile) }
  - if @claim.user.address
    = render partial: "admin/addresses/address", locals: { address: @claim.user.address, title: "User address", edit: "edit" }
  - else
    = "No address."
    = link_to "Add one?", new_admin_profile_address_path(profile_id: @claim.user.profile)
  
-# Claim
- if @claim.valid?
  %h3 
    Claim
    %small= link_to("(edit)", edit_admin_claim_path(@claim))
  :markdown
    #{ markdown_model(@claim) }

  -# Claim documents
  - if @claim.coverage_overlaps?
    :markdown
      **_WARNING!_** This claim has overlapping evidence of wages paid. This will skew the value of the claim!
    %ul
      - @claim.coverage_overlaps.each do |overlap|
        %li= "#{overlap.first.to_s(:rfc822)} to #{overlap.last.to_s(:rfc822)}"
  - if @claim.coverage_overlaps?(:time_evidence)
    :markdown
      **_WARNING!_** This claim has overlapping evidence of hours worked. This will skew the value of the claim!
    %ul
      - @claim.coverage_overlaps(:time_evidence).each do |overlap|
        %li= "#{overlap.first.to_s(:rfc822)} to #{overlap.last.to_s(:rfc822)}"
  
  = render partial: "admin/documents/documents", locals: { documents: @claim.documents }
  
  -# Claim companies
  - if @claim.presentable_companies.any?
    - @claim.presentable_companies.each do |cc|
      = render partial: "admin/companies/company", locals: { claim_company: cc, company: cc.company, claim: cc.claim } 

- else
  %h3 Claim
  %p 
    This claim is empty?
    = link_to "Edit it?", edit_admin_claim_path(@claim)
    
    
:coffeescript
  $("#claim_point_person_id").on "change", (e)->
    $("#claim_point_person").submit()
    
