%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", data: { toggle: "collapse", target: "#nav-items" }, aria: { expanded: false } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %p.navbar-text
        = t('layouts.authentication.signed_in')
        = link_to (current_user.full_name || current_user.email), current_user, class: "navbar-link"
    
    .collapse.navbar-collapse#nav-items
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          = link_to admin_claims_path, class: "dropdown-toggle", role: "button", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
            = t('layouts.authentication.administrate')
            %span.caret
          %ul.dropdown-menu
            %li= link_to "Claims", admin_claims_path
            %li= link_to "Claim stages", admin_claim_stages_path
            %li= link_to "Companies", admin_companies_path
            %li= link_to "Organisations", admin_supergroups_path
            %li= link_to "Campaigns", admin_groups_path
            %li.divider{ role: "separator" }
            %li= link_to "Send invite", new_user_invitation_path
        
        %li= link_to t('layouts.authentication.sign_out'), destroy_user_session_path, method: :delete
