-# .navbar.navbar-default
-#   .container-fluid
-#     .navbar-header
-#       %p.navbar-text.visible-xs-inline-block 
-#         %a.navbar-link{ href: "../text.html" } Text Here
-#       %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-collapse"} }
-#         %span.sr-only Toggle navigation
-#         %span.icon-bar 
-#         %span.icon-bar 
-#         %span.icon-bar 
-#     .navbar-collapse.collapse
-#       %ul.nav.navbar-nav
-#         %li
-#           %a{ href: "../index.html" } Home
-#         %li
-#           %a{ href: "../about.html" } About
-#         %li
-#           %a{ href: "../glass-services.html" } Services
-#         %li
-#           %a{ href: "../contact.html" } Contact
%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      - if @skin.logo?
        = link_to image_tag(@skin.logo.url), root_path(skin: @skin.slug), title: "Home", class: "navbar-brand", style: "max-height: 80px; padding: 0.7rem; margin-left: 0px;"
      - elsif user_signed_in?
        %p.navbar-text{ style: "display: inline-block" }
          = t('.signed_in')
          = link_to (current_user.full_name || current_user.email), current_user, class: "navbar-link"
      %button.navbar-toggle.glyphicon.glyphicon-tasks{ type: "button", data: { toggle: "collapse", target: "#nav-items" }, aria: { expanded: false } }
        %span.sr-only Toggle navigation
    
    .collapse.navbar-collapse#nav-items
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          - if current_user.admin?
            %li= link_to t('.administrate'), admin_claims_path, class: "navbar-link"
          %li= link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: "navbar-link"
        - else
          %li
            = link_to "Returning user? #{t('.sign_in')}", new_user_session_path, class: "navbar-link"
