.align-right
  %small
    - if current_user
      = t('views.layouts.authentication.welcome')
      = link_to current_user.email, current_user 
      | 
      = link_to t('views.layouts.authentication.sign_out'), destroy_user_session_path, method: :delete
      - if current_user.admin?
        | 
        = link_to t('views.layouts.authentication.administrate'), admin_users_path
    - else
      Returning user?
      = link_to t('views.layouts.authentication.sign_in'), new_user_session_path, class: "btn btn-basic"
