!!! 5
%html{ lang: "#{ I18n.locale }" }
  %head
    %title= page_title
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
    = stylesheet_link_tag href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'

  %body
    .container-fluid
      %header#top-header
        = render partial: 'layouts/authentication'
      
      %main
        .align-right{ style: "margin-bottom: 2rem;" }
          = link_to "Send invite", new_user_invitation_path, class: "btn btn-default btn-sm"
          &ensp;
          = link_to "Claim list", admin_users_path, class: "btn btn-default btn-sm"
          &ensp;
          = link_to "Company list", admin_companies_path, class: "btn btn-default btn-sm"
        %hr
        #flash
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert
        
        = yield
