!!! 5
%html{ lang: "#{ I18n.locale }" }
  %head
    %title= page_title
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    = stylesheet_link_tag href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'

  %body
    .container-fluid
      %header#top-header
        = render partial: 'layouts/authentication'


      %main
        #flash
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert

        = render partial: 'layouts/banner'

        = yield

        %footer.align-right
          %hr/

          :markdown
            #{ t('.footer') }
        
    - if @skin
      :scss
        @mixin bg-border($color) {
          background-color: $color;
          border-color: $color;
        }
        @mixin button-colors($bg, $text, $active) {
          color: $text;
          @include bg-border($bg);
          &:hover { @include bg-border($active); }
        }
        @mixin text-hover($passive, $active) {
          color: $passive;
          &:hover { color: $active; }
        }
        @mixin nav($bg, $text, $active) {
          @include bg-border($bg);
          .navbar-text { color: $text; }
          .navbar-link { color: $text; }
          .navbar-link:hover { color: $active; }
        }
        
        $brand-primary: #{ @skin.link_color };
        $active-primary: darken($brand-primary, 15%);
        $btn-default: $active-primary;
        $btn-active: darken($btn-default, 10%);
        $nav-bg: darken($brand-primary, 24%);
        $headings-color: #{ @skin.headings_color };
        $background-color: #{ @skin.background_color };
        $text-color: #{ @skin.text_color };
        $nav-text: darken($text-color, 20%);
        $active-nav: darken($nav-text, 15%);
        
        body { color: $text-color; }
        main { background-color: $background-color; }
        h1, h2, h3, h4, h5, h6, fieldset > legend { color: $headings-color; }
        nav.navbar.navbar-default { @include nav($nav-bg, $nav-text, $active-nav); }
        a { @include text-hover($brand-primary, $active-primary); }
        .btn-default { @include button-colors($btn-default, $text-color, $btn-active) }

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-640460-7', 'auto');
      ga('send', 'pageview');
