!!! 5
%html{ lang: "#{ I18n.locale }" }
  %head
    %title= page_title
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    = stylesheet_link_tag href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'

  %body
    .container-fluid
      %header#top-header
        = render partial: 'layouts/authentication'


      %main{ style: "padding-bottom: 60px;" }
        #flash
          - if notice
            %p.notice.text-info= notice
          - if alert
            %p.alert.text-danger= alert

        = render partial: 'layouts/banner'

        = yield

        %footer.align-right
          %hr/

          :markdown
            #{ t('.footer') }
            
      .language-picker.text-right{ style: "position: fixed; width: 100%; bottom: 0; height: 50px; padding: 1rem; z-index: 10; background-color: black;" }
        - t('helpers.profiles.languages_list').except(session[:locale]).each do |key, locale|
          = link_to locale, params.merge(locale: key), class: "btn btn-default btn-sm"
        
    - if @skin
      :scss
        @mixin bg-border($color) {
          background-color: $color;
          border-color: $color;
        }
        @mixin button-colors($bg, $text, $active) {
          color: $text;
          @include bg-border($bg);
          &:hover, &:active:hover,
          &:active, &:active:focus { @include bg-border($active); }
        }
        @mixin text-hover($passive, $active) {
          color: $passive;
          &:hover { color: $active; }
        }
        @mixin nav($bg, $text, $active) {
          @include bg-border($bg);
          .navbar-text { color: $text; }
          .navbar-link { color: $text; }
          .navbar-link:hover { color: $active; }
        }
        
        $brand-primary: #{ @skin.link_color };
        $active-primary: darken($brand-primary, 15%);
        $btn-bg-color: #{ @skin.btn_bg_color };
        $btn-active: darken($btn-bg-color, 10%);
        $btn-text-color: #{ @skin.btn_text_color };
        $nav-bg: #{ @skin.nav_bg_color };
        $nav-text: #{ @skin.nav_text_color };
        $headings-color: #{ @skin.headings_color };
        $background-color: #{ @skin.body_bg_color };
        $text-color: #{ @skin.body_text_color };
        $text-color-inverse: invert($text-color);
        $active-nav: darken($nav-text, 15%);
        
        body { color: $text-color; }
        main { background-color: $background-color; }
        h1, .h1, h2, .h2, h3, .h3, 
        h4, .h4, h5, .h5, h6, .h6, fieldset > legend { color: $headings-color; }
        nav.navbar.navbar-default { @include nav($nav-bg, $nav-text, $active-nav); }
        a { @include text-hover($brand-primary, $active-primary); }
        .btn-default { @include button-colors($btn-bg-color, $btn-text-color, $btn-active) }
        .checkbox label { color: $text-color-inverse };

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-640460-7', 'auto');
      ga('send', 'pageview');
